.wrapper_container
  max-width: 1280px
  margin: 0 auto

.wrapper
  background-image: url("./bg-wrap.jpeg")
  background-size: cover
  background-position: center
  min-height: 100vh
  position: relative
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background: #000000a4

.description_wrap
  // text-align: center
  padding-top: 170px
  position: absolute
  z-index: 8
  .title
    text-align: center
    color: #fff
    font-size: 48px
    // font-size: clamp(2.125rem, 1.0313rem + 3.5vw, 3rem)
    // line-height: 24px
    margin-bottom: 24px
    max-width: 840px
  .text
    padding-top: 35px
    width: 550px
    color: #fff
    line-height: 34px
    // font-size: 24px
    margin-bottom: 45px
    font-size: clamp(1.125rem, -0.125rem + 4vw, 2.125rem)
  .btn_link
    padding: 10px 60px
    border: solid 1px #fff
    color: #fff
    transition: .6s all
    font-size: 18px
    font-weight: 500
    &:hover
      background: #00000070

@media screen and ( max-width: 1024px )
  .description_wrap
    // margin-top: 75px
    padding: 24px

@media screen and ( max-width: 768px )
  .title
    font-size: 32px
    margin-top: 0
    line-height: 44px !important
  .text
    font-size: clamp(1.125rem, -0.125rem + 4vw, 2.125rem)

@media screen and ( max-width: 430px )
  .title
    font-size: 36px !important
  .text
    font-size: 20px !important
    // width: 300px
