.profile
  display: flex
  flex-direction: column
  flex-wrap: wrap
  gap: 10px
.header
  display: flex
  align-items: center
  gap: 0.5rem
  flex-wrap: wrap
.body
  display: flex
  gap: 30px
  margin: 40px 5px
  flex-wrap: wrap
  &__user
    display: flex
    flex-direction: column
    gap: 20px
    flex-wrap: wrap

    >h2
      color: white
    &__block
      display: flex
      flex-direction: column
      gap: 20px
      flex-wrap: wrap

.info
  display: flex
  gap: 50px
  flex-wrap: wrap
  &__more
    display: flex
    flex-direction: column
    gap: 10px
    flex-wrap: wrap

    > span
      line-height: 5px
      color: #ffffff88
    >h3
      color: #ffffffed
