.header
  background: #333333
  padding: 25px
  &__container
    max-width: 1280px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    color: #ffcc00
    font-weight: 500
    .logo
      font-size: 24px
      font-weight: 700
    .nav_link
      font-size: 20px
      font-weight: 500
