.profile
  margin: 0 auto
  max-width: 90%
  min-height: 100%
  display: flex
  padding: 2.5rem
  padding-left: 1.5%
  color: #fffffff0
  flex-direction: column
  border-radius: 20px
  gap: 1.95rem
  background-color: #333333ae
  position: relative
  backdrop-filter: blur(5px)

  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(5px)
    border-radius: 25px
  &__cards
    display: flex
    flex-wrap: wrap
